{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}SekPrint Badge{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body class="bg-gray-100">
    <!-- Barre de navigation principale -->
    {% block content %} {% endblock %}
    <!-- JS Charts (si tu en utilises un) -->
    <script src="{% static 'js/apexcharts.js' %}"></script>
    <script src="{% static 'js/applyCustomColor.js' %}"></script>
    <script src="{% static 'js/changeColor.js' %}"></script>
    <script src="{% static 'js/charts.js' %}"></script>
    <script src="{% static 'js/downloadPdf.js' %}"></script>
    <script src="{% static 'js/html2pdf.bundle.min.js' %}"></script>
    <script src="{% static 'js/resizeBadge.js' %}"></script>
  </body>
</html>
