  <nav class="text-sm mb-6" aria-label="Breadcrumb">
    <ol class="list-none p-0 inline-flex">
      <li class="flex items-center">
        <a
          href="{% url 'landing' %}"
          class="text-blue-600 hover:underline font-medium"
          >Accueil</a
        >
        <svg
          class="w-4 h-4 mx-2 text-gray-400"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M7.05 4.05a.75.75 0 011.06 0L13 8.94a.75.75 0 010 1.06l-4.89 4.89a.75.75 0 11-1.06-1.06L11.44 9 7.05 4.61a.75.75 0 010-1.06z"
          />
        </svg>
      </li>
      <li class="flex items-center text-gray-500">Ajouter un Badge</li>
    </ol>
  </nav>