<nav class="bg-white shadow-md px-6 py-2 flex justify-between items-center">
  <!-- Logo -->
  <a
    href="{% url 'landing' %}"
    class="text-2xl font-extrabold text-blue-700 tracking-wide"
  >
    SekPrint<span class="text-yellow-500"> 🎓</span>
  </a>

  <!-- Navigation -->
  <div class="flex items-center space-x-10">
    {% if request.user.is_authenticated %}
    <!-- Utilisateur connecté -->
    <div class="flex items-center gap-6">
      <span class="text-gray-800 font-medium">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-person-circle"
          viewBox="0 0 16 16"
        >
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
          <path
            fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
          />
        </svg>
        {{ request.user.username }}
      </span>
      <a
        href="{% url 'logout' %}"
        class="inline-block px-4 py-2 rounded-lg hover:text-cyan-500 transition duration-200 mx-4"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-box-arrow-left"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"
          />
          <path
            fill-rule="evenodd"
            d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"
          />
        </svg>
        <div class="lg:block hidden">Déconnexion</div>
      </a>
    </div>
    {% else %}
    <!-- Non connecté -->
    <a
      href="{% url 'login' %}"
      class="text-blue-600 font-medium hover:underline"
    >
      Connexion
    </a>
    <a
      href="{% url 'register' %}"
      class="inline-block px-4 py-2 bg-green-500 text-white rounded-lg shadow hover:bg-green-600 transition duration-200"
    >
      Inscription
    </a>
    {% endif %}
  </div>
</nav>
